#header {
    height: 150px;
}

#header #logo img {
    width: 200px;
}

.navbar a, .navbar a:focus {
    font-size: 24px;
}

#hero .hero-content h2 {
    font-size: 32px;
    font-weight: 400;
}

/*sherif part*/
#hero {

  border-radius: 0 0 50% 50%; 
}

.plain {
  font-size: 25px;
  font-weight: 800;
  line-height: 29px;
}








/*sherif part ends*/





/*--------------------------------------------------------------
# Service Details
--------------------------------------------------------------*/

.service-details {
    padding-bottom: 10px;
  }
  
  .service-details .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .service-details .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
  }
  
  .service-details .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .service-details .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
  }
  
  .service-details .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .service-details .card-title a {
    color: #1e4356;
    transition: 0.3s;
  }
  
  .service-details .card-text {
    color: #5e5e5e;
    font-size: 17px;
  }
  
  .service-details .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }
  
  .service-details .read-more a:hover {
    color: #0d6efd;
  }
  
  .service-details .card:hover img {
    transform: scale(1.1);
  }
  
  .service-details .card:hover .card-body {
    border-color: #0d6efd;
  }
  
  .service-details .card:hover .card-body .card-title a {
    color: #0d6efd;
  }
  
  .Desinged{
    padding-left: 29px;
    font-size: 15px;
  }

  

ol{
  list-style-type: inherit;
}


  .features ul {
      list-style: none;
      padding: 0;
  }

  .img-fluid {
      max-width: 100%;
      height: auto;
  }





  #hero .hero-content h2 {
    margin: -35px;
    
  }

.img1 {
margin: 0px 350px;
}


#test {

  text-align: center;
  background-color: #fec010;
  padding: 0px;
  color: #fff !important;
}

.navbar a, .navbar a:focus {
  font-size: 20px !important;
}



.description{
  font-size: 17px !important;
}



#contact {

  background-color: #1a4891;
  color: white;
}

/* jan edits  */

#contact .contact-info i {
  color:#fff  !important;
}


#contact .contact-info h3 {
  color: #fff;
}

#testimonials .testimonial-item h3 {
  font-size: 22px;
}



#testimonials .testimonial-item {
  background-color:#1a4891;
  color: white;
}


.imgModels{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




@media (min-width: 576px) and (max-width: 992px){ 
  .whyLeading{
    font-size: 69px !important;
  }

 }

 @media (min-width: 576px) and (max-width: 768px){ 
  
  .Desinged{
    padding-left: 29px;
    font-size: 19px !important;
  }

 }

 @media (min-width: 768px) and (max-width: 992px){ 
  
  .Desinged{
    padding-left: 29px;
    font-size: 17px !important;
  }

 }

  @media (min-width: 992px)  { 
    .Desinged{
      padding-left: 29px;
      font-size: 20px !important;
    }
  .whyLeading{
    font-size: 90px !important;
    text-align: center;
  }

  /* .Desinged{
    padding-left: 29px;
    font-size: 19px;
  } */
 }
 

 @media (max-width: 576px) { 
  .whyLeading{
    font-size: 60px;
  }
 } 




 /* tahoun edits 6-1  */

 .service-details .card-text {

  font-size: 20px;
 }

 .service-details .read-more a {
   font-size: 16px;
   font-weight: bold;
 }